[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_mode = "auto"

[tool.coverage.run]
source = ["app"]
omit = ["app/seed/*", "tests/*"]

[tool.coverage.report]
show_missing = true
fail_under = 70
